
<form [formGroup]="formGroup">

    <div class="container">
        @for (letter of inputMapping; track letter; ) {
            @if (letter.value != '') {
            <div appearence="legacy" class="input-width">
                <div > <span style="font-size: 4rem;"> {{letter.value}}</span></div>
            </div>
        }
       @else {
        <div appearence="legacy">
            <input [formControlName]="letter.key" style=" text-align: center; font-size: 4rem; padding: 0.2rem; padding-bottom: 1rem; border: solid 1px; border-radius: 0.8rem; width: 45px; height: 50px;" class="" type="text" maxlength="1" [value]= letter>
        </div>
       }

    }
    </div>

</form>


<router-outlet />